/*The Primary CSS file for the week 2 team activity*/
.initDivs {
    font-size: large;
    background-color: darkslateblue;
    color: #ffffff;
}

.initDivs:hover {
    font-weight: bold;
}

.container {
    text-align: center;
}

h1 {
    margin-top: 3em;
}