/*Main css file for the heroku project*/

/*header modifiers*/
#headerTop{
    text-align: center;
    margin-top: 3em;
}

nav{
    margin: auto;
    text-align: center;
}

nav a{
    margin: 0 1em 0 1em;
}

/*body and container modifers*/
#container{
    margin: auto;
}

#projectList{
    margin: 1em 0 1em 1.3em;
}

/*footer modifiers*/
footer{
    text-align: center;
    background-color: black;
    color: #ffffff;
}